.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  .section_planner {
    height: 648px;
    display: flex;
    width: 1008px;
    color: rgb(34, 34, 34);
    text-transform: none;
    overflow: hidden;
    border: 2px solid rgb(204, 204, 204);

    .canvas {
      width: 646px;
    }

    .sofas_container {
      border-left: 2px solid rgb(204, 204, 204);
      display: flex;
      flex-direction: column;
      flex: 1;

      .heading {
        padding: 20px;
        text-align: left;
        font-size: 14px;
      }

      .sofas {
        flex: 1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        overflow-y: scroll;

        .img_container {
          position: relative;
          height: 100px;
          width: 100%;
          display: flex;

          justify-content: space-evenly;

          .img {
            position: unset !important;
            height: 67px !important;
            width: auto !important;
            cursor: grab;
          }
        }
      }

      .btn_container {
        height: 85px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-top: 2px solid rgb(204, 204, 204);
        .button {
          font-weight: 600;
          text-align: center;
          text-decoration: none;
          text-transform: uppercase;
          width: 318px;
          margin: auto;
          border-color: #666;
          background: #f3f3f3;
          color: #222;
          height: 40px;
          padding: 0 24px;
          font-size: 12px;
          line-height: 36px;
          border-color: #666;
          background: #fff;
          color: #222;
          letter-spacing: 1px;
          border: 2px solid #222;
          cursor: pointer;
        }
      }
    }
  }
}
